@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&display=swap');

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: #202020;
    font-family: 'Montserrat', sans-serif;
}

body, .nav, .menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav {
    position: relative;
    background-color: transparent;
    padding: 20px;
    transition: 0.5s;
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid #ffc700;
}

.menu {
    margin: 0;
    padding: 0;
    width: 0;
    overflow: hidden;
    transition: 0.5s;
}

.nav input:checked ~ .menu {
    width: 450px;
}

.menu li {
    list-style: none;
    margin: 0 10px;
}

.menu li a {
    text-decoration: none;
    color: #e7e7e7;
    text-transform: uppercase;
    font-weight: 400;
    transition: 0.5s;
}

.menu li a:hover {
    color: #ffc700;
}

.nav input {
    width: 40px;
    height: 40px;
    cursor: pointer;
    opacity: 0;
}

.nav span {
    position: absolute;
    left: 30px;
    width: 30px;
    height: 2px;
    border-radius: 50px;
    background-color: #ffc700;
    pointer-events: none;
    transition: 0.5s;
}

.nav input:checked ~ span {
    background-color: #ff99bb;
}

.nav span:nth-child(2) {
    transform: translateY(-8px);
}

.nav input:checked ~ span:nth-child(2) {
    transform: translateY(0) rotate(-45deg);
}
.nav span:nth-child(3) {
    transform: translateY(8px);
}

.nav input:checked ~ span:nth-child(3) {
    transform: translateY(0) rotate(45deg);
}