@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
body{
  background: #2c2c2c;
}

.view-modal, .popup{
  position: absolute;
  left: 50%;
}
button{
  outline: none;
  cursor: pointer;
  font-weight: 500;
  border-radius: 10px;
  border: 2px solid transparent;
}
.view-modal{
  top: 50%;
  color: #ffc700;
  font-size: 18px;
  padding: 10px 25px;
  background: transparent;
  transform: translate(-50%, -50%);
  border:2px solid #ffc700;
}

.view-modal:hover {
    background: rgba(255, 196, 1, 0.342);
}
.popup{
  background: #fff;
  padding: 25px;
  border-radius: 15px;
  top: -150%;
  max-width: 380px;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
  transform: translate(-50%, -50%) scale(1.2);
  transition: top 0s 0.2s ease-in-out,
              opacity 0.2s 0s ease-in-out,
              transform 0.2s 0s ease-in-out;
}

.popup.show{
  top: 50%;
  opacity: 1;
  pointer-events: auto;
  transform:translate(-50%, -50%) scale(1);
  transition: top 0s 0s ease-in-out,
              opacity 0.2s 0s ease-in-out,
              transform 0.2s 0s ease-in-out;

}
.popup :is(header, .icons, .field){
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.popup header{
  padding-bottom: 15px;
  border-bottom: 1px solid #ebedf9;
}
header span{
  font-size: 21px;
  font-weight: 600;
}
header .close, .icons a{
  display: flex;
  align-items: center;
  border-radius: 50%;
  justify-content: center;
  transition: all 0.3s ease-in-out;
}
header .close{
  color: #878787;
  font-size: 17px;
  background: #f2f3fb;
  height: 33px;
  width: 33px;
  cursor: pointer;
}
header .close:hover{
  background: #ebedf9;
}
.popup .content{
  margin: 20px 0;
}
.popup .icons{
  margin: 15px 0 20px 0;
}
.content p{
  font-size: 16px;
}
.content .icons a{
  height: 50px;
  width: 50px;
  font-size: 20px;
  text-decoration: none;
  border: 1px solid transparent;
}
.icons a i{
  transition: transform 0.3s ease-in-out;
}
.icons a:nth-child(1){
  color: #2c2c2c;
  border-color: #2c2c2c;
}
.icons a:nth-child(1):hover{
  background: #2c2c2c;
}
.icons a:nth-child(2){
  color: #2c2c2c;
  border-color: #2c2c2c;
}
.icons a:nth-child(2):hover{
  background: #2c2c2c;
}
.icons a:nth-child(3){
  color: #2c2c2c;
  border-color: #2c2c2c;
}
.icons a:nth-child(3):hover{
  background: #2c2c2c;
}
.icons a:nth-child(4){
  color: #2c2c2c;
  border-color: #2c2c2c;
}
.icons a:nth-child(4):hover{
  background: #2c2c2c;
}
.icons a:nth-child(5){
  color: #2c2c2c;
  border-color: #2c2c2c;
}
.icons a:nth-child(5):hover{
  background: #2c2c2c;
}
.icons a:hover{
  color: #fff;
  border-color: transparent;
}
.icons a:hover i{
  transform: scale(1.2);
}
.content .field{
  margin: 12px 0 -5px 0;
  height: 45px;
  border-radius: 4px;
  padding: 0 5px;
  border: 1px solid #e1e1e1;
}
.field.active{
  border-color: #00b809;
}
.field i{
  width: 50px;
  font-size: 18px;
  text-align: center;
}
.field.active i{
  color: #fff;
}
.field input{
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 15px;
}
.field button{
  color: #fff;
  padding: 5px 18px;
  background: #2c2c2c;
}
.field button:hover{
  background: #ffc700;
  color:#000;
}