@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #202020;
    padding:2rem;
    font-family: 'Montserrat', sans-serif;
    color:#fff;
}
.container {
    max-width: 1200px;
    margin: 30px 0;
    display: grid;
    grid-gap:1rem;

}

/* Dropdown hover text */

.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.74);
    padding: 12px 16px;
    z-index: 1;
    background-color:#ffc700;
    border-radius: 5px;
    color:#202020;

  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropbtn {
    background-color: transparent;
    color: #ffc700;
    padding: 16px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    border: 1px solid #ffc700;
    font-family: 'Montserrat', sans-serif;
  }
  
 /* Dropdown Link */
 
  .dropdown1 {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content1 {
    display: none;
    position: absolute;
    background-color: #202020;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.74);
    z-index: 1;
    border:1px solid #ffc8005e;
    border-radius: 5px;
  }
  
  .dropdown-content1 a {
    color: #ffc700;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content1 a:hover {background-color: #ffc8003a}
  
  .dropdown1:hover .dropdown-content1 {
    display: block;
  }
  
  .dropdown1:hover .dropbtn {
    background-color: #ffc8003a;
  }

/* Dropdown with Images */

  .dropdown2 {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content2 {
    display: none;
    position: absolute;
    background-color: #202020;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.74);
    z-index: 1;
    border-radius: 8px;
  }
  
  .dropdown2:hover .dropdown-content2 {
    display: block;
  }
  
  .desc {
    padding: 15px;
    text-align: center;
  }