@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #202020;
    font-family: 'Montserrat', sans-serif;
    color: #fff;   
}

.flexbox-row { flex-direction: row; }
.flexbox-row-reverse { flex-direction: row-reverse; }
.flexbox-column { flex-direction: column; }
.flexbox-column-reverse { flex-direction: column-reverse; }

/* Styling only: */
.container {
    display:flex;
    width:100%;
    justify-content: space-between;
    align-items: center;
    padding:40px 20px;
    flex-direction: column;

}
.row-container {
    display: flex;
    flex-direction: column;
}
.column-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.flexbox {
  display: flex;  
  border: 2px solid #353535;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin:10px;
  border-radius: 10px;
}

.item {
  box-sizing: border-box;  
  padding: 20px;
  background: #ffc700;  
  color: #fff;   
  margin: 10px;
  border-radius: 10px;
}

.item h2 {
  font-size: 18px;
  text-align: center;
  margin: 0;
  bottom: 0;
  color: #202020;   
}

h1 {
  margin-bottom: 1em;
  color: #fff;   
}

span {
    color: #ffc700;   
}